services:

  db:
    image: postgres:15
    container_name: highload_db
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: highload
      POSTGRES_DB: highload_db
      PGDATA: "/var/lib/postgresql/data/pgdata"
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U postgres" ]
      interval: 5s
      timeout: 5s
      retries: 5
    volumes:
      - postgresdata:/var/lib/postgresql/data
      - ./init:/docker-entrypoint-initdb.d
      - ./data:/tmp/data
    ports:
      - 5432:5432
    networks:
      - bigdata-network


volumes:
  postgresdata:

networks:
  bigdata-network:
    driver: bridge
  